.titleH3
  line-height: 40px
  height: 40px
  background: #3A8EE6
  border-radius: 6px 6px 0px 0px
  text-align: center
  color: #fff
  font-size: 14px
.el-transfer
  height: 100%
.el-transfer >>> .el-transfer-panel
  width: 39%
  height: 100%
.box>>>.el-transfer__buttons
  width 50px
.box>>>.el-button
  padding 10px
  border-radius 50%
.box>>>.el-button+.el-button
  margin-left 0px
