.box >>> .el-switch__label
  position: absolute
  display: none
  color: #fff
  left: -7px/*打开时文字位置设置*/
.box >>> .el-switch__label--right
  z-index: 1
  right: 0px /*关闭时文字位置设置*/
.box >>> .el-switch__label--left
  z-index: 1
  left: 19px /*显示文字*/
  margin-right: 0px
.box >>> .el-switch__label.is-active
  display: block
.box >>> .el-switch .el-switch__core, .el-switch .el-switch__label
  width: 50px !important
.drawerBox >>> .el-switch__label
  position: absolute
  display: none
  color: #fff
  left: -7px/*打开时文字位置设置*/
.drawerBox >>> .el-switch__label--right
  z-index: 1
  right: 0px /*关闭时文字位置设置*/
.drawerBox >>> .el-switch__label--left
  z-index: 1
  left: 19px /*显示文字*/
  margin-right: 0px
.drawerBox >>> .el-switch__label.is-active
  display: block
.drawerBox >>> .el-switch .el-switch__core, .el-switch .el-switch__label
  width: 50px !important
.checkTable>>>.imgDiv
  height 140px
  line-height 140px
.checkButton
  margin-top 20px
  text-align center
.form-wapper
  display: flex
  justify-content: space-between
.drawerBox>>>.el-form-item
  line-height 16px
.border-wapper
  display: flex
  justify-content: space-between
  .checkTable
    width 50%
.box >>> .el-drawer__header
  margin-bottom 0
.drawerBox >>> .el-drawer, .drawerBox >>> .ltr
  overflow scroll
.box >>> .el-drawer__header
  margin-bottom 0
  padding 0 20px
  padding-top 20px
.box >>> .el-drawer__wrapper
  overflow-y scroll
.tatWapper
  padding 20px
  .talentTitle
    margin-bottom 20px
  .detailTables
    display flex
    height 180px
    .detPhoto
      width 180px
      text-align center
      box-sizing border-box
      div
        width 100%
        height 150px
        padding 20px
        box-sizing border-box
        img
          width 100%
          height 100%
      .tatStutas
        color #FFFFFF
        background #409eff
        width auto
        border-radius 10px
        padding 5px 10px
        line-height 30px
    .detInfo
      flex 1
      .tatList
        display flex
        line-height 45px
        .teaSpan
          width 120px
          padding 0 10px
        .teaCon
          flex 1
          padding 0 10px
.tjInfo
  display flex
  line-height 40px
  width 900px
  .infoItem
    flex 1
    text-align center
.list-item
  display flex
  justify-content space-around
.list-item>>>.el-form-item
  flex 1
 .el-upload-dragger .el-icon-upload {
    margin: 10px 0 10px
  }
.avatar-uploader >>> .el-upload-dragger
  width 150px
  height 150px
.avatar-uploader >>> .el-upload--picture-card
  width 150px
  height 150px
  border none
  line-height: 20px
.avatar-uploader
  width: 150px;
  height: 150px;
  cursor: pointer;
  margin auto
.avatar-uploader .el-upload
  // border: 1px dashed #d9d9d9;
  border-radius: 6px
  cursor: pointer
  position: relative
  overflow: hidden
.avatar-uploader .el-upload:hover
  border-color: #409EFF
.avatar-uploader-icon
  font-size: 28px
  color: #8c939d
  width: 150px
  height: 150px
  line-height: 150px
  text-align: center
.avatar
  width: 150px
  height: 150px
  display: block
.cropper-content .show-preview .preview
  margin-left: 0
.moreAddress
  line-height 45px
  display flex
  margin-top -1px
  .teaSpan
    width 120px
    padding 0 10px
  .teaCon
    flex 1
    padding 0 10px
  .imgdiv
    flex 1
    display flex
    height 140px
    .teaSpan
      width 120px
      padding 0 10px
      line-height 140px
    .teaCon
      flex 1
      padding 10px
.img-btn
    position absolute
    top 0px
    left 0px
    width 100%
    height 100%
    line-height 150px
    font-size 20px
    background rgba(0,0,0,0.5)
    color #fff
    opacity: 0
    span
      margin 0 10px
  .img-btn:hover
    opacity: 1
.pswp
  z-index 3000 !important
