.box >>> .el-switch__label
  position: absolute
  display: none
  color: #fff
  left: -7px/*打开时文字位置设置*/
.box >>> .el-switch__label--right
  z-index: 1
  right: 0px /*关闭时文字位置设置*/
.box >>> .el-switch__label--left
  z-index: 1
  left: 19px /*显示文字*/
  margin-right: 0px
.box >>> .el-switch__label.is-active
  display: block
.box >>> .el-switch .el-switch__core, .el-switch .el-switch__label
  width: 50px !important
.financeInfo
  display: flex
  line-height: 45px
  .financeTitle
    width 140px
    text-align right
    padding 0 10px
  .financeCont
    flex 1
    padding 10px 10px
    line-height: 25px
.top-right >>> .el-button .is-circle
  padding 5px
